@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.606 0.25 292.717);
  --primary-foreground: oklch(0.969 0.016 293.756);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.606 0.25 292.717);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.606 0.25 292.717);
  --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.606 0.25 292.717);
}

.dark {
  --background: rgb(15, 15, 15);
  --foreground: #f5f5f5;
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: #aebcafff;
  --primary-foreground: #232222;
  --secondary: #2e2d2d;
  --secondary-foreground: oklch(0.985 0 0);
  --muted: #232222;
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: #232222;
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: #aebcafff;
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: #aebcafff;
  --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
  --sidebar-accent: #232222;
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: #aebcafff;
} */

:root {
  --background: oklch(0.9310 0 0);
  --foreground: oklch(0.2850 0 0);
  --card: oklch(0.8822 0 0);
  --card-foreground: oklch(0.2850 0 0);
  --popover: oklch(0.8822 0 0);
  --popover-foreground: oklch(0.2850 0 0);
  --primary: oklch(0.7665 0.1387 91.0594);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.8328 0 0);
  --secondary-foreground: oklch(0.3485 0 0);
  --muted: oklch(0.8078 0 0);
  --muted-foreground: oklch(0.4676 0 0);
  --accent: oklch(0.8868 0.1822 95.3305);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.5594 0.1900 25.8625);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.6830 0 0);
  --input: oklch(0.9067 0 0);
  --ring: oklch(0.7665 0.1387 91.0594);
  --chart-1: oklch(0.7665 0.1387 91.0594);
  --chart-2: oklch(0.8868 0.1822 95.3305);
  --chart-3: oklch(0.7927 0.1710 70.6699);
  --chart-4: oklch(0.7516 0.1469 83.9881);
  --chart-5: oklch(0.6521 0.1322 81.5716);
  --sidebar: oklch(0.8822 0 0);
  --sidebar-foreground: oklch(0.2850 0 0);
  --sidebar-primary: oklch(0.7665 0.1387 91.0594);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.8868 0.1822 95.3305);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.6830 0 0);
  --sidebar-ring: oklch(0.7665 0.1387 91.0594);
  --font-sans: "Fira Code", "Cascadia Code", monospace;
  --font-serif: "Fira Code", "Cascadia Code", monospace;
  --font-mono: "Fira Code", "Cascadia Code", monospace;
  --radius: 0.1rem;
  --shadow-x: 0.05rem;
  --shadow-y: 0.1rem;
  --shadow-blur: 0.3rem;
  --shadow-spread: 0.05rem;
  --shadow-opacity: 0.15;
  --shadow-color: #000000;
  --shadow-2xs: 0.05rem 0.1rem 0.3rem 0.05rem hsl(0 0% 0% / 0.07);
  --shadow-xs: 0.05rem 0.1rem 0.3rem 0.05rem hsl(0 0% 0% / 0.07);
  --shadow-sm: 0.05rem 0.1rem 0.3rem 0.05rem hsl(0 0% 0% / 0.15), 0.05rem 1px 2px -0.95px hsl(0 0% 0% / 0.15);
  --shadow: 0.05rem 0.1rem 0.3rem 0.05rem hsl(0 0% 0% / 0.15), 0.05rem 1px 2px -0.95px hsl(0 0% 0% / 0.15);
  --shadow-md: 0.05rem 0.1rem 0.3rem 0.05rem hsl(0 0% 0% / 0.15), 0.05rem 2px 4px -0.95px hsl(0 0% 0% / 0.15);
  --shadow-lg: 0.05rem 0.1rem 0.3rem 0.05rem hsl(0 0% 0% / 0.15), 0.05rem 4px 6px -0.95px hsl(0 0% 0% / 0.15);
  --shadow-xl: 0.05rem 0.1rem 0.3rem 0.05rem hsl(0 0% 0% / 0.15), 0.05rem 8px 10px -0.95px hsl(0 0% 0% / 0.15);
  --shadow-2xl: 0.05rem 0.1rem 0.3rem 0.05rem hsl(0 0% 0% / 0.38);
  --tracking-normal: 0.05em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(0.8868 0.1822 95.3305);
  --card: oklch(0.1776 0 0);
  --card-foreground: oklch(0.8868 0.1822 95.3305);
  --popover: oklch(0.1776 0 0);
  --popover-foreground: oklch(0.8868 0.1822 95.3305);
  --primary: oklch(0.8868 0.1822 95.3305);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.2520 0 0);
  --secondary-foreground: oklch(0.7516 0.1469 83.9881);
  --muted: oklch(0.1448 0 0);
  --muted-foreground: oklch(0.6521 0.1322 81.5716);
  --accent: oklch(0.3211 0 0);
  --accent-foreground: oklch(0.8868 0.1822 95.3305);
  --destructive: oklch(0.6489 0.2370 26.9728);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.4495 0 0);
  --input: oklch(0 0 0);
  --ring: oklch(0.8868 0.1822 95.3305);
  --chart-1: oklch(0.8868 0.1822 95.3305);
  --chart-2: oklch(0.7927 0.1710 70.6699);
  --chart-3: oklch(0.7516 0.1469 83.9881);
  --chart-4: oklch(0.6521 0.1322 81.5716);
  --chart-5: oklch(0.3999 0.1641 29.2339);
  --sidebar: oklch(0.1776 0 0);
  --sidebar-foreground: oklch(0.8868 0.1822 95.3305);
  --sidebar-primary: oklch(0.8868 0.1822 95.3305);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.3211 0 0);
  --sidebar-accent-foreground: oklch(0.8868 0.1822 95.3305);
  --sidebar-border: oklch(0.4495 0 0);
  --sidebar-ring: oklch(0.8868 0.1822 95.3305);
  --font-sans: "Fira Code", "Cascadia Code", monospace;
  --font-serif: "Fira Code", "Cascadia Code", monospace;
  --font-mono: "Fira Code", "Cascadia Code", monospace;
  --radius: 0.1rem;
  --shadow-x: 0rem;
  --shadow-y: 0rem;
  --shadow-blur: 0.2rem;
  --shadow-spread: 0.05rem;
  --shadow-opacity: 0.4;
  --shadow-color: #FFD700;
  --shadow-2xs: 0rem 0rem 0.2rem 0.05rem hsl(50.5882 100% 50% / 0.20);
  --shadow-xs: 0rem 0rem 0.2rem 0.05rem hsl(50.5882 100% 50% / 0.20);
  --shadow-sm: 0rem 0rem 0.2rem 0.05rem hsl(50.5882 100% 50% / 0.40), 0rem 1px 2px -0.95px hsl(50.5882 100% 50% / 0.40);
  --shadow: 0rem 0rem 0.2rem 0.05rem hsl(50.5882 100% 50% / 0.40), 0rem 1px 2px -0.95px hsl(50.5882 100% 50% / 0.40);
  --shadow-md: 0rem 0rem 0.2rem 0.05rem hsl(50.5882 100% 50% / 0.40), 0rem 2px 4px -0.95px hsl(50.5882 100% 50% / 0.40);
  --shadow-lg: 0rem 0rem 0.2rem 0.05rem hsl(50.5882 100% 50% / 0.40), 0rem 4px 6px -0.95px hsl(50.5882 100% 50% / 0.40);
  --shadow-xl: 0rem 0rem 0.2rem 0.05rem hsl(50.5882 100% 50% / 0.40), 0rem 8px 10px -0.95px hsl(50.5882 100% 50% / 0.40);
  --shadow-2xl: 0rem 0rem 0.2rem 0.05rem hsl(50.5882 100% 50% / 1.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.progress-bar {
  height: 4px;
  background-color: var(--primary)/20;
  width: 100%;
  overflow: hidden;
}

.progress-bar-value {
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  animation: indeterminateAnimation 1s infinite linear;
  transform-origin: 0% 50%;
}

@keyframes indeterminateAnimation {
  0% {
    transform:  translateX(0) scaleX(0);
  }
  40% {
    transform:  translateX(0) scaleX(0.4);
  }
  100% {
    transform:  translateX(100%) scaleX(0.5);
  }
}